<article>
<li ng-repeat="section in posts | filter:query | orderBy:orderProp"
        class="thumbnail phone-listing">
      <a href="#/posts/{{section.id}}" class="thumb"><img ng-src="{{section.imageUrl}}" alt="{{section.name}}"></a>
      <a href="#/posts/{{section.id}}">{{section.name}}</a>
      <p>{{section.snippet}}</p>
    </li>
  <!--You can use md-no-sticky class-->
  <!-- arrays are fully sortable and filterable -->
  <section ng-bind-html="post.content" ng-repeat="post in posts | orderBy:orderBy | filter:searchText">
    <md-subheader class="md-primary"> {{ post.title }} </md-subheader>
    <p class="md-headline">{{ post.snippet }}</p>

    <!-- delete a message using $remove -->
  </section>
  <section>
    <ul>
      <li ng-repeat="item in articles">{{ item.$id}}</li>
    </ul>
  </section>
</article>
