<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Cloud Arc Starter</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" href="styles/angular-material.css" />
  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="css/animations.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-route.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-resource.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-sanitize.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.1/angular-material.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</head>
<body layout="row" ng-app="coolApp" class="KENANRULESLOL" ng-cloak>

  <div flex layout="column" class="boxWithHeight" layout-padding>

    <md-content class="md-whiteframe-z1" ng-view flex="70">

    </md-content>
    <section flex="20">

    </section>
    <section flex >
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </section>
  </div>
  <div flex="20" layout="column" class="boxWithHeight" layout-padding>
    flex="30"
    <section flex="40">
        <iframe  class="md-whiteframe-z1" src="https://open.spotify.com/embed?uri=spotify:user:tactwork:playlist:1fPOSOK63yfMA96GyXUwaQ&theme=white&view=coverart" width="100%" height="330" frameborder="0" allowtransparency="true"></iframe>
        <md-input-container>
          <label for="sortInput">Search</label>
          <input id="sortInput" type="text" ng-model="searchText">

        </md-input-container>
        <md-input-container>
          <md-select name="orderBy" ng-model="orderBy">
            <md-option value="header">header</md-option>
            <md-option value="title">header</md-option>
            <md-option value="content">content</md-option>
            <md-option name="timestamp" value="timestamp">timestamp</md-option>
          </md-select>
        </md-input-container>
    </section>
    <section flex>

    </section>
  </div>


  <!-- start toolbar module -->



  <!-- <section layout="row" flex>
    <md-sidenav md-component-id="left" class="md-sidenav-left">
      <md-input-container>
        <label for="sortInput">Sort</label>
        <input id="sortInput" type="text" ng-model="query" md-sidenav-focus>

      </md-input-container>
      <md-input-container>
        <md-select name="orderProp" ng-model="orderProp">
          <md-option value="name">BY NAME</md-option>
          <md-option value="age">age</md-option>
        </md-select>
      </md-input-container>
      <md-content ng-controller="CoolSideNavCtrl">

      </md-content>
    </md-sidenav>


  </section> -->

<script>
  // Initialize the Firebase SDK
  var config = {
    apiKey: "AIzaSyAS7oyD6eEg_TLvMVlwiN1WBfHKqoSoyZE",
    authDomain: "hot-shorts-4e79e.firebaseapp.com",
    databaseURL: "https://hot-shorts-4e79e.firebaseio.com",
    storageBucket: "hot-shorts-4e79e.appspot.com",
    messagingSenderId: "67914260758"
  };
  firebase.initializeApp(config);
</script>
</body>
</html>
